.section{
   margin-left: 260px;
}

p{
    color: black;
}
.span{
    color: #27c997;
}

.btn{
    color: white !important;
    background-color: #27c997;
}

.spanspan{
    font-weight: 700 !important;
}

.div2{
    @media (max-width: 992px) { 
        text-align: center  !important;
 } 
}