.ul{
    flex-direction: row !important;
    text-align: center !important;
    margin-left: 100px !important;
    margin-right: 40px ;
    list-style-type: none;
}

a{
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}
