 

.backgro{
    height: 100%;
    background-image: url(../../assets/img/background.jpeg) !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.home{
    display: block;
}
 

.hero-wrap {
     
     
}

p{
    
}

.p1{
font-size: 1.2rem;
color: white !important ; 
}

.p2{
    font-size: 1.7rem;
    color: white !important ; 
}

.p3{
    font-size: 1.5rem;
    color: white !important ; 
}

.btn{
    color: #26c997;
    border-color: #20c997;
}